.nav-wrapper{
    height: 85px;
    width: 100%;  
    background-color: #7dd9e8;
}
.nav{
    height: 100%;
    width: 942px;
    margin: 0px auto;
    padding: 20px;
    box-sizing: border-box;
}
.logo{
    float: left;
}
.search{
    height: 49px;
    float: left;
    width: 384px;
    position: relative;
    margin-left: 30px;
}
 
.cross img{
    height: 10px;
    margin-left: 2px;
   
}
.search-bar{
    width: 300px;
    position: absolute;
    top: 15px;
    left: 15px;
    float: left;
    background-color: #caeff7;
    
}
.search-btn{
    position: absolute;
    float: right;
    top: 15px;
    left: 320px;
}
.btn-green {
    padding: 3px;
    background-color: #255056;
    float: left;
}
.input-field{
    border-right: 1px solid #7dd9e8;
}

.nav-aside{
    font-size:12px;
    float: right;
}

.user{
    text-align: right;
    margin-bottom: 3px;
}

.nabar-value ul{
    list-style: none;
}

.nabar-value li {
    padding :0px 8px;
    float: left;
    text-decoration: none;
}
.nabar-value li a {
    text-decoration: none;
}

.menu-wrapper{
    height: 40px;
    width: 100%;
    background-color: whitesmoke;
}
.menu {
    height: 100%;
    width: 942px;
    margin: 0 auto;
    padding: 10 20px;
    font-size: 13px;
    font-weight: 510;
}
 
.menu-aside{
    text-align: right;
}
.menu-aside img{
    margin:0 10px;
}
.menu-aside span{
    text-align: right;
    margin-left: 30px;
}

.body-container-wrapper{
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.body-container{
    height: 606px;
    width: 942px;
    margin: 0px auto;
}
.body-aside{
    height: 606px;
    width: 194;
    background-color: whitesmoke;
    float: left;
    font-size: 11px;
}

.body-aside-right{
    width: 176px !important;
}
.body-main{
    height: auto;
    width: 550;
    float: left;
    padding: 0px 20px;
}
.body-aside ul li {
    list-style: none;
    padding:10px;
}
.body-aside-header{
    background-color: #7dd9e8;
    color: #fff;
    font-size: 15px;
    
}
.body-aside li img{
    float: right;
    cursor: pointer;
}
.body-aside a{
    text-decoration: none;
    color: black;
}
.body-aside-menu:hover{
    background-color: #fff;
}
.recent-text{
    height: 20px;
    width: 90%;
    float: left;
}

 
.entries-menu{
    height: auto;
}

.entries-menu{
    height: auto;
}
.body-entry-menu{
    float: left;
    width: 50%;
    text-align: center;
    height: 34px;
    background-color: whitesmoke;
    padding:10px 0;
}
.body-entry-menu-down{
    background: whitesmoke;
    height: auto;
}
.entries-menu-down{
    background-color: whitesmoke;
    height: auto;
    border-bottom: 2px solid #7dd9e8;
}
.body-entry-list{
    height: 34px;
    width: 110px;
    list-style: none;
    float: left;
    background: #dddddd;
    padding: 8px;
    margin: 0 6px 0 10px;
    text-align: center;
}

.profile-wall{
    height: 100px;
    padding:15px 0px;
    border-bottom: 1px solid #727272;
}
.profile-pic{
    float: left;
    margin-right: 20px;
}
.profile-pic img {
    height: 70px !important;
    width: 70px !important;
}
.profile-detail{
    text-align: justify;
    font-size: 13px;
    float: left;
}
.profile-detail h4{
    font-size: 14px;
    padding:4px 0;
}
.profile-detail a{


}

.footer-menu-wrapper{
    margin-top: 33px;
    height: 46px;
    padding: 5px 0px;
    width: 100%;
    background-color: #727272;
    color:#ffffff;
}


.footer-menu-wrapper ul li a{
    color: #ffffff;
}

.footer-menu-wrapper ul li{
    list-style: disc;
    margin-right: 32px;
}

.profile-detail b{
    font-size: 10px;
}