.nav-wrapper{
    height: 85px;
    width: 100%;  
    background-color: #7dd9e8;
}
.nav{
    height: 100%;
    width: 1002px;
    margin: 0px auto;
    padding: 20px;
    box-sizing: border-box;
}
.logo{
    float: left;
}
.search{
    height: 49px;
    float: left;
    width: 384px;
    position: relative;
    margin-left: 30px;
}
 
.cross img{
    height: 10px;
    margin-left: 2px;
   
}
.search-bar{
    width: 300px;
    position: absolute;
    top: 15px;
    left: 15px;
    float: left;
    background-color: #caeff7;
    
}
.search-btn{
    position: absolute;
    float: right;
    top: 15px;
    left: 320px;
}
.btn-green {
    padding: 3px;
    background-color: #255056;
    float: left;
}
.input-field{
    border-right: 1px solid #7dd9e8;
}

.nav-aside{
    float: right;
}

.user{
    text-align: right;
    margin-bottom: 3px;
}

.nabar-value ul{
    list-style: none;
}

.nabar-value li {
    padding :0px 10px;
    float: left;
    text-decoration: none;
}
.nabar-value li a {
    text-decoration: none;
    color: #000000;
}

.menu-wrapper{
    height: 40px;
    width: 100%;
    background-color: whitesmoke;
}
.menu{
    height: 100%;
    width: 1002px;
    margin: 0 auto;
    padding: 10px;
}

